* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: hsl(212, 45%, 89%);
}

/* Typography */

h2 {
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  color: hsl(218, 44%, 22%);
  font-weight: 900;
  font-size: 2rem;
  margin: 0 2rem;
}

p {
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin: 1rem 2rem 1rem 2rem;
  color: hsl(220, 15%, 55%);
  padding-bottom: 3rem;
}

/* Card Styles  */

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-img {
  margin: 1.8rem;
  border-radius: 12px;
  display: inline-block;
  width: 27rem;
}

.card {
  margin: 5rem 2rem;
  background: hsl(0, 0%, 100%);
  border-radius: 20px;
  width: 30rem;
}

.card-info {
  text-align: center;
}
